@use '../base/variables' as *;

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__search {
    position: relative;

    input {
      padding: 8px 12px;
      padding-left: 36px;
      background-color: transparent;
      border-radius: 6px;
      width: 300px;
      box-shadow: 0 0 5px rgba($primary-color, $alpha: 0.2);
      color: $white;

    }

    svg {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #9ca3af;
    }
  }
  .dropdown-btn{
    background-color: $secondary-bg;
    padding: 8px 10px ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    color: $white;
    font-family: "Poppins" sans-serif ;
    height: 35px;

    img{
      width: 20px;
      border-radius: 50%;
    }
  }
  .theme{
    display: grid;
    place-items: center;
    color: $white;
    background-color: $secondary-bg;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 10px;
    height: 35px;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: $white;
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
  }
}
