@use "../base/variables" as *;

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 15px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border);

  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
    .sidebar-btn {
      background-color: var(--bg-secondary);
      border: none;
      cursor: pointer;
      color: var(--text-primary);
      font-size: 20px;
      border-radius: 10px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      &:hover {
        box-shadow: 0 0 5px rgba($primary-color, $alpha: 0.2);
      }
    }
    .header__logo {
      width: 260px;
      text-align: center;
      color: var(--text-primary);
      font-family: "Pacifico", cursive;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__search {
    position: relative;

    input {
      padding: 8px 12px;
      padding-left: 36px;
      background-color: var(--bg-secondary);
      border-radius: 6px;
      width: 300px;
      box-shadow: 0 0 5px rgba($primary-color, $alpha: 0.2);
      color: var(--text-primary);

      &::placeholder {
        color: var(--text-secondary);
      }
    }

    svg {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--text-secondary);
    }
  }

  .dropdown-btn {
    background-color: var(--bg-secondary);
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    color: var(--text-primary);
    font-family: "Poppins", sans-serif;
    height: 35px;

    img {
      width: 20px;
      border-radius: 50%;
    }
  }

  .theme {
    display: grid;
    place-items: center;
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.9;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--text-primary);
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    .avatar {
      display: inline-block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
    }
  }
}
