@use '../base/variables' as *;

.layout {
  display: flex;
  height: 100vh;
  background-color: $primary-bg;
  
  &__sidebar {
    width: 22%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $primary-bg;
    z-index: 100;
  }

  &__main { 
    flex: 1;
    margin-left: 22%;
  }

  &__header {
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 22%;
    z-index: 90;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba($primary-color, $alpha: 0.1);

  }

  &__content {
    height: 100%;
    overflow-y: auto;
    padding: 32px;
    padding-top: 92px;
  }
}
