@use "../base/variables" as *;

.layout {
  display: flex;
  height: 100vh;
  background-color: var(--bg-primary);

  &__sidebar {
    width: 22%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--bg-primary);
    z-index: 100;
  }

  &__main {
    flex: 1;
    margin-left: 22%;
  }

  &__header {
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 22%;
    z-index: 90;
    margin-bottom: 100px;
    background-color: var(--bg-primary);
  }

  &__content {
    height: 100%;
    overflow-y: auto;
    padding: 32px;
    padding-top: 92px;
    background-color: var(--bg-primary);
  }
}
