@use "../base/variables" as *;

.sidebar {
  height: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-primary);
  border-right: 1px solid var(--border);
  transition: all 0.3s ease;

  .sidebar-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
  }

  &__profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--bg-secondary);
    border: 0.1px solid var(--border);
    border-radius: 4px;
    padding: 10px 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    gap: 10px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--text-primary);

    .avatar {
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
    }
  }
}

.sidebar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.sidebar__menu-item {
  padding: 12px 20px;
  min-height: 48px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  font-family: "Geist", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
  overflow: hidden;

  .icon {
    font-size: 20px;
    flex-shrink: 0;
    margin-bottom: -5px;
    color: var(--text-primary);
  }

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width 0.3s, opacity 0.3s;
    flex: 1;
    color: var(--text-primary);
  }

  &:hover {
    background-color: var(--bg-secondary);
  }

  &.active {
    background-color: var(--bg-third);

    .icon, .text {
      color: var(--text-active);
    }
  }
}

.layout__sidebar.collapsed {
  .sidebar__menu-item {
    justify-content: center;
    padding: 10px 20px;

    .icon {
      font-size: 24px;
    }

    .text {
      display: none;
    }
  }

  .sidebar__profile {
    justify-content: center;
    padding: 10px;

    span {
      display: none;
    }
  }
}
